
NODE_ENV=development                         # development | production
PORT=3000
BASE_URL=http://localhost:3000

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=sb_publishable_...
SUPABASE_SERVICE_ROLE_KEY=sb_secret_...

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

STRIPE_MODE=payment                          # payment | subscription
STRIPE_PRICE_ID=price_...                    # leave empty to create inline price
STRIPE_PRODUCT_NAME=Pro Access               # used if STRIPE_PRICE_ID is empty
STRIPE_CURRENCY=usd													 # used if STRIPE_PRICE_ID is empty							
STRIPE_UNIT_AMOUNT=1000                      # integer in cents (e.g. 1000 = $10.00) - used if STRIPE_PRICE_ID is empty
STRIPE_RECURRING_INTERVAL=month              # month|year

NEXT_PUBLIC_MIROTALK_WIDGET_ENABLED=true.    # https://docs.mirotalk.com/mirotalk-p2p/integration/#widgets-integration
NEXT_PUBLIC_MIROTALK_DOMAIN=p2p.mirotalk.com # domain of your MiroTalk deployment
NEXT_PUBLIC_MIROTALK_ROOM=support-room
NEXT_PUBLIC_MIROTALK_THEME=dark
NEXT_PUBLIC_MIROTALK_WIDGET_TYPE=support
NEXT_PUBLIC_MIROTALK_WIDGET_STATE=normal
NEXT_PUBLIC_MIROTALK_POSITION=top-right
NEXT_PUBLIC_MIROTALK_DRAGGABLE=false
NEXT_PUBLIC_MIROTALK_CHECK_ONLINE=false
NEXT_PUBLIC_MIROTALK_EXPERT_IMAGES=miro.jpeg
NEXT_PUBLIC_MIROTALK_BUTTONS=audio,video,screen,chat,join
NEXT_PUBLIC_MIROTALK_HEADING=Need Help?
NEXT_PUBLIC_MIROTALK_SUBHEADING=Get instant support from our expert team!
NEXT_PUBLIC_MIROTALK_CONNECT_TEXT=connect in < 5 seconds
NEXT_PUBLIC_MIROTALK_ONLINE_TEXT=We are online
NEXT_PUBLIC_MIROTALK_OFFLINE_TEXT=We are offline
NEXT_PUBLIC_MIROTALK_POWERED_BY=Powered by MiroTalk
NEXT_PUBLIC_MIROTALK_DEBUG=false